#dash{
    background-color: #FFF;
    height: fit-content;
    margin: auto;
    margin-top: 20px;
    padding:10px;}
#dash_emp{
    border: 0.5px solid black;
    width: 400px;
    box-shadow: 0 1em 2em 0 rgba(0, 0, 0, 0.1);
    height: fit-content;}
#dash_cong{
    border: 0.5px solid black;
    width :66%;
    box-shadow: 0 1em 2em 0 rgba(0, 0, 0, 0.1);
    min-width: 400px;}
#dash_abs{
    border: 0.5px solid black;
    box-shadow: 0 1em 2em 0 rgba(0, 0, 0, 0.1);
      width :66%;}
.flex{
    display: flex;
    justify-content: space-between;
    padding-top:10px;
    padding-bottom: 10px;}
.ico{
    width:30px;}
.liste{
    display: flex;
    justify-content: space-around;}