.p_no_scroll_form{
    width: 250px;
}
#form_register{
    display: flex;
    justify-content: space-around;
}
.colum{
    display: flex;
    flex-direction: column;
}
.colum p{
    display: flex;
    flex-direction: column;
}
#formFormation{
    width: 600px;
}
#formService{
    width: 600px;
}
.form_bloc input, textarea, select{
    width: 100%;
}
form .row{
    display: flex;
    justify-content: space-around;
}
form .row p{
    width: 100%;
    margin: 10px;
}
.form_bloc{
    padding: 20px;
}
.form_dem_form table{
    width: 100%;
}