*{
    font-size:18px;
}
#corps_notif{
    line-height: 35px;
    font-size:30px;
}
#corps_notif b{
    font-size:22px;
}
#rapport_notif{
    background-size: cover;
    width: 1000px;
    margin: 80px auto;
    padding:30px;
    box-shadow: 0 1em 2em 0 rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}
.entete_notif{
    display: flex;
    justify-content: space-between;
}
#gauche{
    width: 400px;
    display: flex;
    align-items: center;
}
#droit{
    width: 400px;
}
#notif_page{
    padding: 50px;
    background-color: #3498db;
}
#notif_page .not:hover{
    background-color: #222;
    color: white;
}
.ico{
    width: 70px;
}
input,header,footer,form,input{
    display: none;
}
.titre_dem{
    font-size: 30px;
}
.row_foot{
    display: flex;
    justify-content: space-between;
    height: 200px;
}
.col_foot{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#filigrane{
    font-size: 280px;
    transform: rotate(-45deg);
    top: 500px;
    position: absolute;
    opacity: 0.2;
    -moz-opacity:0.5;
}
